
.sub-news{
    padding: 3em 0;
    text-align: center;
}
.sub-news h3 {
    margin-bottom: 15px;
    font-family: 'Pathway Gothic One';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 38px;
    color: #100b0b;
}
input.sub-email {
    font-family: 'Pathway Gothic One';
    padding: 7px;
    width: 40%;
    border: 2px solid #100b0b;
    outline: none;
    font-size: 18px;
}
a.subs-btn {
    font-family: 'Pathway Gothic One';
    border: none;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    background-color: #FFF;
    border-radius: 0;
    padding: 7px;
    font-size: 18px;
    width: 9%;
    margin: -6px 0px 1px 0px;
    color: #000;
    outline: none;
}
a.subs-btn:hover{
    background: #A5E126;
    transition: 0.5s all;
    border: none;
    border-right: 2px solid #A5E126;
    border-bottom: 2px solid #A5E126;
    border-top: 2px solid #A5E126;
    color: #fff;
}

@media screen and (max-width: 768px){
  a.subs-btn {
        width: 11%;
    }
}
@media screen and (max-width:640px){
  a.subs-btn {
        width: 13%;
    }
}
@media screen and (max-width: 568px){
    a.subs-btn {
        width: 17%;
    }
}
@media screen and (max-width: 480px){
  a.subs-btn {
        width: 17%;
    }
}
@media screen and (max-width: 414px){
  a.subs-btn {
        width: 21%;
    }
    
}
@media screen and (max-width: 360px){
   a.subs-btn {
        width: 24%;
    }
}
@media screen and (max-width:320px){
  .sub-news {
        padding: 0em 0;
        text-align: center;
    }
    input.sub-email {
        padding: 3px;
        font-size: 14px;
    }
    a.subs-btn {
        padding: 3px;
        font-size: 14px;
        width: 20%;
        margin: -3px -3px 0px;
    }
}